
title = "Ancestry-constrained phylogenetic analysis supports the Indo-European steppe hypothesis"

doi = "10.1353/lan.2015.0005"

abstract = """
Discussion of Indo-European origins and dispersal focuses on two hypotheses.
Qualitative evidence from reconstructed vocabulary and correlations with
archaeological data suggest that IndoEuropean languages originated in the
Pontic-Caspian steppe and spread together with cultural innovations associated
with pastoralism, beginning c. 6500–5500 bp. An alternative hypothesis, according
to which Indo-European languages spread with the diffusion of farming from
Anatolia, beginning c. 9500–8000 bp, is supported by statistical phylogenetic and
phylogeographic analyses of lexical traits. The time and place of the
Indo-European ancestor language therefore remain disputed. Here we present a
phylogenetic analysis in which ancestry constraints permit more accurate
inference of rates of change, based on observed changes between ancient or
medieval languages and their modern descendants, and we show that the result
strongly supports the steppe hypothesis. Positing ancestry constraints also
reveals that homoplasy is common in lexical traits, contrary to the assumptions
of previous work. We show that lexical traits undergo recurrent evolution due to
recurring patterns of semantic and morphological change
"""

# authors in "Firstname Initial. Lastname" e.g. Simon J. Greenhill
authors = [
    "Will Chang",
    "Chundra A. Cathcart",
    "David Hall",
    "Andrew Garrett"
]

# parts of the world
groups = ["Indo-European"]  # 'Austronesian', etc

# bibkey citation in sources.bib
bibkey = "@Chang2015"

# type of study
type = ['phylogenetic', 'dating']
framework = ['bayesian']

# short label of taxa "37 languages from.."
description = "Phylogenetic analysis of Indo-European languages"

# data
[data]
    [data.bouckaert]
    ntaxa = 103
    nchars = 207
    nsites = 5992
    datatype = 'lexical cognates'
    source = '@Bouckaert2012'
    items = 'swadesh200'
    comment = ''
    
    [data.broad]
    ntaxa = 94
    nchars = 197
    nsites = 5694
    datatype = 'lexical cognates'
    source = ''
    items = 'swadesh200'
    comment = "Of the 207 meaning classes in IELEX, three ('blow', 'father', 'mother') were excluded as being especially susceptible to sound symbolism, and seven others were excluded because they were unattested in more than 30% of the languages, probably due to the fact that they are not in the Dyen data set, which was constructed around the 200 items proposed by Swadesh (1952)."
    
    [data.medium]
    ntaxa = 82
    nchars = 143
    nsites = 3279
    datatype = 'lexical cognates'
    source = ''
    items = 'swadesh200'
    comment = 'Our medium data set uses a subset of eighty-two languages and 143 meaning classes from the broad data set, chosen so that no language would have too many hidden cells'
    
    [data.narrow]
    ntaxa = 52
    nchars = 143
    nsites = 2350
    datatype = 'lexical cognates'
    source = ''
    items = 'swadesh200'
    comment = 'We assembled a narrow data set by removing from the medium data set any modern language that lacks an ancestor in the data set, leaving fifty-two languages.'

[calibration]
    [calibration.Hittite]
    taxa = ['hitt1242']
    age = "normal(3400, 100)"
    units = "bp" # before present
    description = "Hittite (hit) "

    [calibration.VedicSanskrit]
    taxa = ['sans1269']
    age = "normal(3250, 250)"
    units = "bp" # before present
    description = "Vedic Sanskrit (san)"

    [calibration.Avestan]
    taxa = ['aves1237']
    age = "normal(2500, 50)"
    units = "bp" # before present
    description = "Avestan (ave) "

    [calibration.Sogdian]
    taxa = ['sogd1245']
    age = "normal(1300, 100)"
    units = "bp" # before present
    description = "Sogdian (sog)"

    [calibration.AncientGreek]
    taxa = ["anci1242"]
    age = "normal(2450, 50)"
    units = "bp" # before present
    description = "Ancient Greek (grc)"

    [calibration.Latin]
    taxa = ['lati1261']
    age = "normal(2150, 50)"
    units = "bp" # before present
    description = "Latin (lat)"

    [calibration.Gothic]
    taxa = ['goth1244']
    age = "normal(1650, 25)"
    units = "bp" # before present
    description = "Gothic (got)"

    [calibration.OldHighGerman]
    taxa = ['oldh1241']
    age = "normal(1150, 50)"
    units = "bp" # before present
    description = "Old High German (goh)"

    [calibration.OldEnglish]
    taxa = ['olde1238']
    age = "normal(1000, 50)"
    units = "bp" # before present
    description = "Old English (ang)"

    [calibration.OldWestNorse]
    taxa = ['oldw1240']
    age = "normal(800, 50)"
    units = "bp" # before present
    description = "Old West Norse (non, 'Old Norse')"

    [calibration.ClassicalArmenian]
    taxa = ['clas1249']
    age = "normal(1550, 50)"
    units = "bp" # before present
    description = "Classical Armenian (xcl)"

    [calibration.TocharianA]
    taxa = ['tokh1242']
    age = "normal(1350, 150)"
    units = "bp" # before present
    description = "Tocharian A (xto)"

    [calibration.TocharianB]
    taxa = ['tokh1243']
    age = "normal(1350, 150)"
    units = "bp" # before present
    description = "Tocharian B (txb)"

    [calibration.OldIrish]
    taxa = ['oldi1245']
    age = "normal(1200, 100)"
    units = "bp" # before present
    description = "Old Irish (sga)"

    [calibration.Cornish]
    taxa = ['oldc1252']
    age = "normal(300, 100)"
    units = "bp" # before present
    description = "Cornish (cor)"

    [calibration.OldChurchSlavic]
    taxa = ['chur1257']
    age = "normal(1000, 50)"
    units = "bp" # before present
    description = "Old Church Slavic (chu)"

    [calibration.OldPrussian]
    taxa = ['prus1238']
    age = "normal(550, 50)"
    units = "bp" # before present
    description = "Old Prussian (prg)"



# analysis information
[analysis]

    [analysis.A1a]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A1a: Narrow dataset"
    data = ""


    [analysis.A1b]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A1b: corrected for root advergence "
    data = ""


    [analysis.A2a]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A2a: Medium dataset "
    data = ""


    [analysis.A2b]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A2b: corrected for root advergence"
    data = ""


    [analysis.A3a]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A3a: Broad dataset"
    data = ""


    [analysis.A3b]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A3b: corrected for root advergence"
    data = ""


    [analysis.A4]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A4: Exclude loans"
    data = ""


    [analysis.A5]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A5: Fewer meaning classes"
    data = ""


    [analysis.A6]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A6: Constant pop. coal. tree prior"
    data = ""


    [analysis.A7]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "A7: Covarion (no rate var., fixed hfreq.)"
    data = ""


    [analysis.B1]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "B1: Replication of B. et al."
    data = ""


    [analysis.B2]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "B2: B1 omitting poorly attested languages"
    data = ""


    [analysis.B3]
    tool = 'beast2'
    model = 'covarion+relaxed'
    details = "B3: B2 adding ancestry constraints"
    data = ""


    [analysis.C1]
    tool = 'beast2'
    model = 'ctmc+relaxed'
    details = "C1: RSC, anc. constraints"
    data = ""


    [analysis.C2]
    tool = 'beast2'
    model = 'ctmc+relaxed'
    details = "C2: RSC (homo.), anc. constraint "
    data = ""


    [analysis.C3]
    tool = 'beast2'
    model = 'ctmc+relaxed'
    details = "C3: RSC, no anc. constraints"
    data = ""


    [analysis.C4]
    tool = 'beast2'
    model = 'ctmc+relaxed'
    details = "C4: RSC (homo.), no anc. constraints"
    data = ""


    [analysis.C5]
    tool = 'beast2'
    model = 'sdollo+relaxed'
    details = "C5: SDC (homo.), no anc. constraints"
    data = ""

[inferredages]
    
    notes = ""
    
    [inferredage.ProtoIndoEuropean]
    taxa = ["indo1319"]
    age = "hpd(5950, 4870, 7190)"
    units = "bp"
    details = 'A1 Narrow dataset'


    [inferredage.A1_Narrow]
    taxa = ["indo1319"]
    age = "hpd(5950, 4870, 7190)"
    units = "bp"
    details = ""

    [inferredage.A1_Corrected]
    taxa = ["indo1319"]
    age = "hpd(6580, 5730, 7790)"
    units = "bp"
    details = ""

    [inferredage.A2_Medium]
    taxa = ["indo1319"]
    age = "hpd(6410, 5190, 7910)"
    units = "bp"
    details = ""

    [inferredage.A2_Corrected]
    taxa = ["indo1319"]
    age = "hpd(6740, 5510, 8330)"
    units = "bp"
    details = ""

    [inferredage.A3_Broad]
    taxa = ["indo1319"]
    age = "hpd(5930, 4860, 7250)"
    units = "bp"
    details = ""

    [inferredage.A4_ExcludeLoans]
    taxa = ["indo1319"]
    age = "hpd(6060, 5000, 7280)"
    units = "bp"
    details = ""

    [inferredage.A5_FewerMeaningClasses]
    taxa = ["indo1319"]
    age = "hpd(6060, 4870, 7590)"
    units = "bp"
    details = ""

    [inferredage.A6_ConstantPopCoalTreePrior]
    taxa = ["indo1319"]
    age = "hpd(6130, 5070, 7420)"
    units = "bp"
    details = ""

    [inferredage.A7_Covarion]
    taxa = ["indo1319"]
    age = "hpd(6140, 4760, 7710)"
    units = "bp"
    details = ""

    [inferredage.B1_]
    taxa = ["indo1319"]
    age = "hpd(7750, 6180, 9720)"
    units = "bp"
    details = ""

    [inferredage.B2_]
    taxa = ["indo1319"]
    age = "hpd(6810, 5400, 8780)"
    units = "bp"
    details = ""

    [inferredage.B3_]
    taxa = ["indo1319"]
    age = "hpd(6440, 5110, 8670)"
    units = "bp"
    details = ""

    [inferredage.C1_RSC_AncConstraints]
    taxa = ["indo1319"]
    age = "hpd(6470, 4920, 8700)"
    units = "bp"
    details = ""

    [inferredage.C2_RSC_HomoAncConstraints]
    taxa = ["indo1319"]
    age = "hpd(5780, 4550, 7380)"
    units = "bp"
    details = ""

    [inferredage.C3_RSC_NoAncConstraints]
    taxa = ["indo1319"]
    age = "hpd(7670, 6190, 9460)"
    units = "bp"
    details = ""

    [inferredage.C4_RSC_HomoNoAncConstraints]
    taxa = ["indo1319"]
    age = "hpd(6890, 5670, 8350)"
    units = "bp"
    details = ""

    [inferredage.C5_SDC_HomoNoAncConstraints]
    taxa = ["indo1319"]
    age = "hpd(7060, 5940, 8390)"
    units = "bp"
    details = ""



[links]
phlorest = { title = "Phlorest Dataset", link = "https://github.com/phlorest/chang_et_al2015" }
cldf = { title = "CLDF Dataset", link = "" }
links = []

