
title = "Dated language phylogenies shed light on the ancestry of Sino-Tibetan"

doi = "10.1073/pnas.1817972116"

abstract = """
The Sino-Tibetan language family is one of the world's largest and most prominent families, spoken by nearly 1.4 billion people. Despite the importance of the Sino-Tibetan languages, their prehistory remains controversial, with ongoing debate about when and where they originated. To shed light on this debate we develop a database of comparative linguistic data, and apply the linguistic comparative method to identify sound correspondences and establish cognates. We then use phylogenetic methods to infer the relationships among these languages and estimate the age of their origin and homeland. Our findings point to SinoTibetan originating with north Chinese millet farmers around 7200 B.P. and suggest a link to the late Cishan and the early Yangshao cultures.
"""

# authors in "Firstname Initial. Lastname" e.g. Simon J. Greenhill
authors = [
    "Laurent Sagart",
    "Guillaume Jacques",
    "Yunfan Lai",
    "Robin J. Ryder",
    "Valentin Thouzeau",
    "Simon J. Greenhill",
    "Johann-Mattis List"
]

# parts of the world
groups = ["Sino-Tibetan"]  # 'Austronesian', etc

# bibkey citation in sources.bib
bibkey = "@Sagart2019"

# type of study
type = ["phylogenetic", "dating"]
framework = ['bayesian']

# short label of taxa "37 languages from.."
description = "50 Sino-Tibetan languages"

# data
[data]
    [data.lexicon]
    ntaxa = 50
    nchars = 180
    nsites = 3333
    datatype = 'lexical cognates'
    source = ''
    items = 'basic'
    comment = ''
    
[calibrations]
    [calibration.oldchinese]
    taxa = ["oldc1244"]
    age = "uniform(2300, 2800)"  # normal(x, y)
    units = "bp" # before present
    description = "Period of the great Classical Chinese texts"

    [calibration.oldburmese]
    taxa = ["oldb1235"]
    age = "800"  # x, normal(x, y), uniform(x,y)
    units = "bp" # before present
    description = "date of the earliest text rounded to the nearest century"
    
    [calibration.oldtibetan]
    taxa = ["oldm1245"]
    age = "1200"  # x, normal(x, y), uniform(x,y)
    units = "bp" # before present
    description = "date of the earliest text rounded to the nearest century"

    [calibration.tangut]
    taxa = ["tang1334"]
    age = "900"  # x, normal(x, y), uniform(x,y)
    units = "bp" # before present
    description = "date of the earliest text rounded to the nearest century"

# analysis information
[analysis]
    [analysis.tree1]
    tool = 'beast2'
    model = 'covarion+strict+fbd'
    details = ""

    [analysis.tree2]
    tool = 'beast2'
    model = 'covarion+relaxed+fbd'
    details = ""
    best = 'true'

    [analysis.tree3]
    tool = 'beast2'
    model = 'dollo+strict+fbd'
    details = ""

    [analysis.tree4]
    tool = 'traitlab'
    model = 'dollo+relaxed'
    details = ""

    [analysis.tree5]
    tool = 'traitlab'
    model = 'stochasticdollo+lateraltransfer'
    details = ""


[inferredages]
    notes = ""
    [inferredage.root]
    taxa = ['sino1245']
    age = "hpd(7184, 5093, 9568)"
    units = "bp"
    details = "best fitting model"
    best = 'true'

    [inferredage.Lolo-Qiangic]
    taxa = ["lolo1265"]
    age = "hpd(4300, 3000, 5700)"
    units = "y2000"
    details = "best fitting model"
    best = 'true'
    
    [inferredage.Tibetan-Qiangic]
    taxa = ["burm1265"]
    age = "hpd(4800, 3300, 6300)"
    units = "y2000"
    details = "best fitting model"
    best = 'true'

    [inferredage.Kiranti]
    taxa = ["kira1253"]
    age = "hpd(3600, 2400, 5100)"
    units = "y2000"
    details = "best fitting model"
    best = 'true'

    [inferredage.Tani-Idu]
    taxa = ["tani1259", "idum1241"]
    age = "hpd(4100, 2400, 5800)"
    units = "y2000"
    details = "best fitting model"
    best = 'true'

    [inferredage.Sal]
    taxa = ["brah1260"]
    age = "hpd(4700, 3100, 6700)"
    units = "y2000"
    details = "best fitting model"
    best = 'true'

    [inferredage.Kuki-Karbi]
    taxa = ["kuki1246", "karb1240"]
    age = "hpd(5000, 3400, 6700)"
    units = "y2000"
    details = "best fitting model"
    best = 'true'

    [inferredage.Sinitic]
    taxa = ["sini1245"]
    age = '2600'
    units = "y2000"
    details = "best fitting model"
    best = 'true'


[links]
phlorest = { title = "Phlorest Dataset", link = "https://github.com/phlorest/sagart_et_al2019" }
cldf = { title = "CLDF Dataset", link = "https://github.com/lexibank/sagartst" }
links = []
